<DIV class=page_content data-page=tpl_terse_content>
<DIV class=frame_2cols><!-- 主栏 -->
	<DIV class=main_col id="movie_info">
		<DIV class="tab tab_2">



			<DIV class=tab_sort>
				<div style="width:100px; border:1px solid #cccccc;height:28px;float:left "><div style="margin-top:5px;margin-left:15px"><b>排序方式:</b></div></div>
				<div style="width:50px; border-right:1px solid #cccccc;border-top:1px solid #cccccc;height:28px;float:left "><div style="margin-top:5px;margin-left:12px"><b><a href="javascript://">最新</a></b></div></div>
				<div style="width:600px; border:1px solid #cccccc;height:28px;float:left ">

				</div>

			</DIV>



		</DIV>
		<DIV class=box >
			<DIV class=showcase style="width:760px" >
				{{section name=newvod loop=$dayMovie.entity}}

					<DIV class="pack pack_video_card" style="width:115px;height:185px;padding-right:35px  ">
						<DIV class=pic style="margin-left:15px ">
							<A class=inner title="{{$dayMovie.entity[newvod].movie_name}}" href="index.php?controller=play&action=index&movie_id={{$dayMovie.entity[newvod].movie_id}}" target="vodplay"><IMG class=pack_clipImg height=90 alt="{{$dayMovie.entity[newvod].movie_name}}" src="admin/upload/{{$dayMovie.entity[newvod].image}}" width=120> </A>
						</DIV>
						<DIV class=txt style="margin-left:15px " >
							<H6 class=caption style="width:130px "><A title="{{$dayMovie.entity[newvod].movie_name}}" href="index.php?controller=play&action=index&movie_id={{$dayMovie.entity[newvod].movie_id}}" target="vodplay">{{$dayMovie.entity[newvod].movie_name}}</A></H6>
							<UL class=info>

							  {{if $tagtype.daoyin}}
								<LI title="{{$dayMovie.entity[newvod].tag_directors}}" style="width:125px;">{{$tagtype.directors}}: {{$dayMovie.entity[newvod].tag_directors|truncate:8:'':true}} </LI>
							  {{/if}}
							  {{if $tagtype.yanyuan}}
								<LI title="{{$dayMovie.entity[newvod].tag_stars}}" style="width:125px;">{{$tagtype.stars}}: {{$dayMovie.entity[newvod].tag_stars|truncate:8:'':true}} </LI>
							  {{/if}}
							  {{if $tagtype.bofang}}
							  <LI>播放: {{$dayMovie.entity[newvod].click_num}} </LI>
							  {{/if}}
							  {{if $tagtype.pingjia}}
							  <LI style="height:25px; width:140px "><div style="float:left;margin-top:7px ">评价: </div><div class="fRed" style="float:left "><strong>{{$dayMovie.entity[newvod].codenumsp[0]}}</strong>{{$dayMovie.entity[newvod].codenumsp[1]}}</div><div style=" float:left; margin-top:6px ">({{$dayMovie.entity[newvod].assess_people}}评)</div> </LI>
							  {{/if}}
							</UL>
						</DIV>
					</DIV>

				{{/section}}
			</DIV>
			{{if $dayMovie.pageCount > 1}}
				<DIV class=page_nav id=pagingBars>
					{{if $dayMovie.page <= 1}}
						<SPAN class=page_nav_prev><SPAN>上一页</SPAN></SPAN>
					{{else}}
						<SPAN class=page_nav_prev><a onClick="onTersepage('GetDayMovie',{{$dayMovie.class}},'{{$dayMovie.type}}',{{$dayMovie.page-1}})" href = "javascript:">上一页</a></SPAN>
					{{/if}}


					<UL>
					  <LI class=page_nav_current>1 </LI>
					  {{section name=loop loop=$dayMovie.pageCount start=1 max=9}}
						<LI><a onClick="onTersepage('GetDayMovie',{{$dayMovie.class}},'{{$dayMovie.type}}',{{$smarty.section.loop.index+1}})" href = "javascript:">{{$smarty.section.loop.index+1}}</A> </LI>
					  {{/section}}
					  {{if $dayMovie.pageCount >10}}
						{{if $dayMovie.pageCount-1 > 11}}
							<LI class=pagebarDot>... </LI>
						{{/if}}
						{{if $dayMovie.pageCount-1 > 10}}
							<LI><a onClick="onTersepage('GetDayMovie',{{$dayMovie.class}},'{{$dayMovie.type}}',{{$dayMovie.pageCount-1}})" href = "javascript:">{{$dayMovie.pageCount-1}}</A> </LI>
						{{/if}}
						<LI><a onClick="onTersepage('GetDayMovie',{{$dayMovie.class}},'{{$dayMovie.type}}',{{$dayMovie.pageCount}})" href = "javascript:">{{$dayMovie.pageCount}}</A> </LI>
					  {{/if}}
					  <input name="maxpage" type="hidden" id="maxpage" value="{{$dayMovie.pageCount}}">

					</UL>


					{{if $dayMovie.page >= $dayMovie.pageCount}}
						<SPAN class=page_nav_next><SPAN>下一页</SPAN></SPAN>
					{{else}}
						<SPAN class=page_nav_next><a onClick="onTersepage('GetDayMovie',{{$dayMovie.class}},'{{$dayMovie.type}}',{{$dayMovie.page+1}})" href = "javascript:">下一页</A></SPAN>
					{{/if}}

					<div class=page_nav_jump id=pageForm  >第 <INPUT class=text id=inputPage size=3 name=page onkeydown="if(event.keyCode==13) {return  onTersepage('GetDayMovie',{{$dayMovie.class}},'{{$dayMovie.type}}','tz')};"> 页 <INPUT class=submit type=button onclick="return onTersepage('GetDayMovie',{{$dayMovie.class}},'{{$dayMovie.type}}','tz')" value=跳转> </div>
				</DIV>
	    {{/if}}
		 <input name="pcondition" id="pcondition" type="hidden" value="{{$dayMovie.searchcont}}">


			</DIV>
		</DIV>



		<!-- 侧栏 -->
	<DIV class=side_col style="float:left "><!-- 左侧一级分类-->
		<DIV class=nav_channel style="margin-left:10px;overflow:auto; height:1110px; ">
			<UL>
			  <LI class=current ><div class="terse_div"><div style="margin-left:10px ">分类名称</div></div> </LI>
			  {{section name=oneClass loop=$classList }}
			  <LI {{if $currentid == $classList[oneClass].class_id}}class="current"{{/if}}><A href="index.php?controller=terse&action=index&class={{$classList[oneClass].class_id}}" title="{{$classList[oneClass].class_name}}" rel=22>{{$classList[oneClass].class_name|truncate:6:'':true}}</A> </LI>
			  {{/section}}
			</UL>
		</DIV><!-- 左侧一级分类-->



	</DIV><!-- 主栏 -->



	</DIV><!--frame -->
</DIV>
</DIV>
