<DIV class=tab_sort data-page=tpl_terse_movie_page_2>
	<div style="width:100px; border:1px solid #cccccc;height:28px;float:left "><div style="margin-top:5px;margin-left:15px"><b>排序方式:</b></div></div>
	{{if $dayMovie.type=='new'}}
		<div style="width:50px; border-right:1px solid #cccccc;border-top:1px solid #cccccc;height:28px;float:left; "><div style="margin-top:5px;margin-left:12px"><b><a href="javascript://">最新</a></b></div></div>
	{{else}}
		<div style="width:50px; border-right:1px solid #cccccc;border-top:1px solid #cccccc;height:28px;float:left;border-bottom:1px solid #cccccc; "><div style="margin-top:5px;margin-left:12px"><a href='javascript://' onClick="onTersepage('GetDayMovie',{{$dayMovie.class}},'new',0,'{{$dayMovie.showtpye}}')">最新</a></div></div>
	{{/if}}


	<div style="width:600px; border:1px solid #cccccc;height:28px;float:left ">

	</div>

</DIV>
<DIV class=showcase style="width:760px">
	{{section name=newvod loop=$dayMovie.entity}}

		<DIV class="pack pack_video_card" style="width:115px;height:180px;padding-right:35px">
			<DIV class=pic style="margin-left:15px ">
				<A class=inner title="{{$dayMovie.entity[newvod].movie_name}}" href="index.php?controller=play&action=index&movie_id={{$dayMovie.entity[newvod].movie_id}}" target="vodplay"><IMG class=pack_clipImg height=90 alt="{{$dayMovie.entity[newvod].movie_name}}" src="admin/upload/{{$dayMovie.entity[newvod].image}}" width=120> </A>
			</DIV>
			<DIV class=txt style="margin-left:15px ">
				<H6 class=caption style="width:130px "><A title="{{$dayMovie.entity[newvod].movie_name}}" href="index.php?controller=play&action=index&movie_id={{$dayMovie.entity[newvod].movie_id}}" target="vodplay">{{$dayMovie.entity[newvod].movie_name}}</A></H6>
				<UL class=info>
				  {{if $tagtype.daoyin}}
					<LI title="{{$dayMovie.entity[newvod].tag_directors}}" style="width:125px;">{{$tagtype.directors}}: {{$dayMovie.entity[newvod].tag_directors|truncate:8:'':true}} </LI>
				  {{/if}}
				  {{if $tagtype.yanyuan}}
					<LI title="{{$dayMovie.entity[newvod].tag_stars}}" style="width:125px;">{{$tagtype.stars}}: {{$dayMovie.entity[newvod].tag_stars|truncate:8:'':true}} </LI>
				  {{/if}}
				  {{if $tagtype.bofang}}
				  <LI>播放: {{$dayMovie.entity[newvod].click_num}} </LI>
				  {{/if}}
				  {{if $tagtype.pingjia}}
				  <LI style="height:30px; width:140px "><div style="float:left;margin-top:7px ">评价: </div><div class="fRed" style="float:left "><strong>{{$dayMovie.entity[newvod].codenumsp[0]}}</strong>{{$dayMovie.entity[newvod].codenumsp[1]}}</div><div style=" float:left; margin-top:6px ">({{$dayMovie.entity[newvod].assess_people}}评)</div> </LI>
				  {{/if}}
				</UL>
			</DIV>
		</DIV>

	{{/section}}
</DIV>
{{if $dayMovie.pageCount > 1}}
<DIV class=page_nav>
	{{if $dayMovie.page ==1}}
	<SPAN class=page_nav_prev><SPAN>上一页</SPAN></SPAN>
	{{else}}
	<SPAN class=page_nav_prev><a onClick="onTersepage('GetDayMovie',{{$dayMovie.class}},'{{$dayMovie.type}}',{{$dayMovie.page-1}},'{{$dayMovie.showtpye}}')" href = "javascript:">上一页</a></SPAN>
	{{/if}}




	<UL>
	  {{if $dayMovie.page < 10}}

		  {{section name=loop loop=$dayMovie.pageCount start=0 max=10 }}
			{{if $smarty.section.loop.index+1 == $dayMovie.page }}
				<LI class=page_nav_current>{{$smarty.section.loop.index+1}} </LI>
			{{else}}
				<LI><a onClick="onTersepage('GetDayMovie',{{$dayMovie.class}},'{{$dayMovie.type}}',{{$smarty.section.loop.index+1}},'{{$dayMovie.showtpye}}')" href = "javascript:">{{$smarty.section.loop.index+1}}</A> </LI>
			{{/if}}
		  {{/section}}
		  {{if $dayMovie.pageCount >10}}
		  		{{if $dayMovie.pageCount-1>11}}
					<LI class=pagebarDot>... </LI>
				{{/if}}
				{{if $dayMovie.pageCount-1 > 10}}
				<LI><a onClick="onTersepage('GetDayMovie',{{$dayMovie.class}},'{{$dayMovie.type}}',{{$dayMovie.pageCount-1}},'{{$dayMovie.showtpye}}')" href = "javascript:">{{$dayMovie.pageCount-1}}</A> </LI>
				{{/if}}
				<LI><a onClick="onTersepage('GetDayMovie',{{$dayMovie.class}},'{{$dayMovie.type}}',{{$dayMovie.pageCount}},'{{$dayMovie.showtpye}}')" href = "javascript:">{{$dayMovie.pageCount}}</A> </LI>
		  {{/if}}
	  {{else}}

			<LI><a onClick="onTersepage('GetDayMovie',{{$dayMovie.class}},'{{$dayMovie.type}}',1,'{{$dayMovie.showtpye}}')" href = "javascript:">1</A> </LI>
			<LI><a onClick="onTersepage('GetDayMovie',{{$dayMovie.class}},'{{$dayMovie.type}}',2,'{{$dayMovie.showtpye}}')" href = "javascript:">2</A> </LI>
			{{ if $dayMovie.pageCount > 10}}
			<LI class=pagebarDot>... </LI>
			{{/if}}
			{{if $dayMovie.pageCount-$dayMovie.page >= 7}}
			<LI><a onClick="onTersepage('GetDayMovie',{{$dayMovie.class}},'{{$dayMovie.type}}',{{$dayMovie.page-3}},'{{$dayMovie.showtpye}}')" href = "javascript:">{{$dayMovie.page-3}}</A> </LI>
			<LI><a onClick="onTersepage('GetDayMovie',{{$dayMovie.class}},'{{$dayMovie.type}}',{{$dayMovie.page-2}},'{{$dayMovie.showtpye}}')" href = "javascript:">{{$dayMovie.page-2}}</A> </LI>
			<LI><a onClick="onTersepage('GetDayMovie',{{$dayMovie.class}},'{{$dayMovie.type}}',{{$dayMovie.page-1}},{{$dayMovie.showtpye}})" href = "javascript:">{{$dayMovie.page-1}}</A> </LI>
			<LI class=page_nav_current>{{$dayMovie.page}} </LI>
			<LI><a onClick="onTersepage('GetDayMovie',{{$dayMovie.class}},'{{$dayMovie.type}}',{{$dayMovie.page+1}},'{{$dayMovie.showtpye}}')" href = "javascript:">{{$dayMovie.page+1}}</A> </LI>
			<LI><a onClick="onTersepage('GetDayMovie',{{$dayMovie.class}},'{{$dayMovie.type}}',{{$dayMovie.page+2}},'{{$dayMovie.showtpye}}')" href = "javascript:">{{$dayMovie.page+2}}</A> </LI>
			<LI><a onClick="onTersepage('GetDayMovie',{{$dayMovie.class}},'{{$dayMovie.type}}',{{$dayMovie.page+3}},'{{$dayMovie.showtpye}}')" href = "javascript:">{{$dayMovie.page+3}}</A> </LI>
			<LI class=pagebarDot>... </LI>
			<LI><a onClick="onTersepage('GetDayMovie',{{$dayMovie.class}},'{{$dayMovie.type}}',{{$dayMovie.pageCount-1}},'{{$dayMovie.showtpye}}')" href = "javascript:">{{$dayMovie.pageCount-1}}</A> </LI>
			<LI><a onClick="onTersepage('GetDayMovie',{{$dayMovie.class}},'{{$dayMovie.type}}',{{$dayMovie.pageCount}},'{{$dayMovie.showtpye}}')" href = "javascript:">{{$dayMovie.pageCount}}</A> </LI>
			{{else}}
			{{section name=page loop=$dayMovie.pageCount start=-8}}
				{{if $dayMovie.page== $smarty.section.page.index+1}}
				<LI class=page_nav_current>{{$dayMovie.page}} </LI>
				{{else}}
				<LI><a onClick="onTersepage('GetDayMovie',{{$dayMovie.class}},'{{$dayMovie.type}}',{{$smarty.section.page.index+1}},'{{$dayMovie.showtpye}}')" href = "javascript:">{{$smarty.section.page.index+1}}</A> </LI>
				{{/if}}
			{{/section}}
			{{/if}}
	  {{/if}}

	  <input name="maxpage" type="hidden" id="maxpage" value="{{$dayMovie.pageCount}}">

</UL>





	{{if $dayMovie.page == $dayMovie.pageCount}}
	<SPAN class=page_nav_next><SPAN>下一页</SPAN></SPAN>
	{{else}}
	<SPAN class=page_nav_next><A href="javascript://" onclick="onTersepage('GetDayMovie',{{$dayMovie.class}},'{{$dayMovie.type}}',{{$dayMovie.page+1}},'{{$dayMovie.showtpye}}')">下一页</A></SPAN>
	{{/if}}


<div class=page_nav_jump id=pageForm  >第 <INPUT class=text id=inputPage size=3 name=page onkeydown="if(event.keyCode==13) {return  onTersepage('GetDayMovie',{{$dayMovie.class}},'{{$dayMovie.type}}','tz','{{$dayMovie.showtpye}}')};"> 页 <INPUT class=submit type=button onclick="return onTersepage('GetDayMovie',{{$dayMovie.class}},'{{$dayMovie.type}}','tz','{{$dayMovie.showtpye}}')" value=跳转> </div>
</DIV>
{{/if}}
<input name="pcondition" id="pcondition" type="hidden" value="{{$dayMovie.searchcont}}">
<script>
getcunurls()
</script>
