<div class="publicmain" style="height:auto;margin-top:3px " data-page="tpl_board_content">
  <table width="940" border="0" cellspacing="0" cellpadding="0" style=" border-bottom:1px dashed #666666;">
    <tr>
      <td width="81" height="25">&nbsp;</td>
      <td width="74" align="left" valign="top" class="publictext">&nbsp;&nbsp;{{$tagtype.board}}</td>
      <td width="695">&nbsp;</td>
      <td width="90" align="right"><a href="index.php?controller=board&action=Index"><b><font color="#C43D42" >
        <查看列表 >
        </font></b></a></td>
    </tr>
  </table>
  <div class="public_c" style="height:auto ">
    <table width="940" border="0" cellspacing="0" cellpadding="0" style="line-height:22px;">
      <tr>
        <td style="text-align:center " ><p style="font-size:14px;"><b>{{$my_content.name}}</b> </p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{$my_content.created}} </p></td>
      </tr>
	 </table>
	 <table>
      <tr>
        <td style="width:940px " >{{$my_content.content}}</td>
      </tr>
    </table>
  </div>
</div>
