<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{$mysetting.webtitle}}</title>
<LINK media=all href="root/css/__g_75.css" type=text/css rel=stylesheet>
<link href="root/css/db.css" rel="stylesheet" type="text/css" />
<link href="root/css/other.css" rel="stylesheet" type="text/css" />
<script src="root/js/jquery-1.5.2.js" type="text/javascript"></script>
<script src="root/js/common.js" type="text/javascript"></script>
</head>
<body data-page="tpl_board">
{{include file = "tpl_top.html"}}
{{include file = 'tpl_board_content.html'}}
{{include file = 'tpl_footle.html'}}
</body>
</html>
