<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{$mysetting.webtitle}}</title>
<LINK media=all href="root/css/__g_75.css" type=text/css rel=stylesheet>

<script src="root/js/jquery-1.5.2.js" type="text/javascript"></script>

<style type="text/css">

body{
    padding:0px; margin:0px;
    background-image:url(root/images/bg.jpg);        /* 背景图片 */
    background-repeat:no-repeat;        /* 不重复 */
    background-attachment:fixed;        /* 固定背景图片 */
}
.imgcss{border:3px solid #fff}
.imgcss:hover{border:3px solid #3608fe}
</style>
</head>

<body  data-page=tpl_track_index>



	<input name="tracknum" id="tracknum" type="hidden" value="{{$trackcount}}">

	<table id="tblList" width="100%" border="0" cellpadding="8" cellspacing="0" class="table_link">
	  <tr id="trHeader" valign="bottom" height="65">

		<td  style="text-align:left " width="25%" ><DIV class=logo style="margin-top:15px;margin-left:20px"><img src="admin/images/{{$mysetting.logo_image}}" ></DIV></td>

		<td  style="text-align:left " width="25%">
			<div style="font-size:29px;color:#ffffff;margin-top:25px" >
				<div id="years"></div>

			</div>
		</td>
		<td  style="text-align:center " width="25%"><div style="font-size:29px;color:#ffffff;margin-top:25px" id='times'></div></td>
		<td  style="text-align:center " width="25%">
			<div style="font-size:29px;color:#ffffff;margin-top:25px" >

				<div id="week"></div>
			</div>
		</td>





		</tr>
	</table>


	<div style="border-bottom:2px solid #fff" ></div>



	<div style="clear:both;margin:10px auto;" id="listvod">
		<div style="height:378px; width:1004px;margin:auto;" id="picshow" >
			<div><a href="index.php?controller=track&action=Tracklist"><img src="root/images/tracklive.png" class="imgcss" style="float:left;margin-right:35px"></a></div>
			<div><a href="index.php?controller=track&action=Recordlist"><img src="root/images/trackvod.png" class="imgcss" style="float:left"></a></div>
		</div>


	</div>








</body>
</html>

















<script language="Javascript">

clheight=window.document.documentElement.clientHeight
boardhg = $('#postBar').height()
tablehg = $('.table_link').height()
currentwidth = (clheight-378-boardhg-tablehg)/2
$('#listvod').css('margin-top',currentwidth)

var datelocalweek=new Array("星期日", "星期一", "星期二","星期三","星期四", "星期五","星期六");
var datelocalnow=new Date();
var datelocalyear=datelocalnow.getFullYear();
var datelocalmonth=(datelocalmonth="0"+(datelocalnow.getMonth()+1)).substr(datelocalmonth.length-2,2);
var datelocalday=(datelocalday="0"+datelocalnow.getDate()).substr(datelocalday.length-2,2);
var datelocalweekday=datelocalweek[datelocalnow.getDay()];
//document.write(datelocalyear+"年"+datelocalmonth+"月"+datelocalday+"日"+" "+datelocalweekday);
$('#week').html(datelocalweekday);
$('#years').html(datelocalyear+"-"+datelocalmonth+"-"+datelocalday);



function showtime () {
var now = new Date();
var hours = now.getHours();
var minutes = now.getMinutes();
var seconds = now.getSeconds()
var timeValue = hours
timeValue += ((minutes < 10) ? ":0" : ":") + minutes
//var timeValue = " " + ((hours >12) ? hours -12 :hours)
//timeValue += ((minutes < 10) ? ":0" : ":") + minutes
//timeValue += ((seconds < 10) ? ":0" : ":") + seconds
//timeValue += (hours >= 12) ? " 下午 " : " 上午 "
//document.clock.face.value = timeValue;
$('#times').html(timeValue);
timerID = setTimeout("showtime()",1000);//设置超时,使时间动态显示
timerRunning = true;
}
showtime();

</script>
