<!---帮助内容左侧-->

<div class="helpmain" style="height:1900px " data-page=tpl_help_content>
  <div class="helpleft" >
    <div class="helpleft_one" style="height:1900px ">
      <!--- 1 -->
      <div class="helpleft_xiazai">
        <div class="helpleft_nav">
          <div class="helpname"><strong>下载中心</strong></div>

        </div>
        <ul class="helpleft_nav_main" >
          <div class="helpkong"></div>
          <li style="height:20px"><div style="float:left "><img src="root/images/xiazaibiao.gif"></div><div style="float:left ">&nbsp;<a href="GMPlayerX.exe" title="专用播放器插件" >专用播放器插件</a></div></li>
        </ul>
      </div>
      <!--- 1 -->
      <!--- 2 -->
      <div class="helpleft_wenti" style="height:1900px">
        <div class="helpleft_nav">
          <div class="helpname"><strong>常见问题</strong></div>

        </div>
        <ul class="helpleft_nav_main">
          <div class="helpkong"></div>
         <li style="height:20px"><div style="float:left "><img src="root/images/question.gif"></div><div style="float:left ">&nbsp;<a href="#1" title="为什么打开网页时播放区域的显示是这样的？" >为什么打开网页时播放</a></div></li>
          <li style="height:20px"><div style="float:left "><img src="root/images/question.gif"></div><div style="float:left ">&nbsp;<a href="#2" title="接收直播和点播时候，播放器一直是缓冲状态，如何解决？" >接收直播和点播时候</a></div></li>
          <li style="height:20px"><div style="float:left "><img src="root/images/question.gif"></div><div style="float:left ">&nbsp;<a href="#3"title="观看节目时，画面有抖动情况，而且CPU一直在90％以上是什么原因？" >观看节目时，画面有抖</a></div></li>
          <li style="height:20px"><div style="float:left "><img src="root/images/question.gif"></div><div style="float:left ">&nbsp;<a href="#4" title="怎么全屏观看？">怎么全屏观看？</a></div></li>
          <li style="height:20px"><div style="float:left "><img src="root/images/question.gif"></div><div style="float:left ">&nbsp;<a href="#5" title="Windows XP和Windows 2003系统在全屏接收直播时播放器无响应了，如何解决？" >Windows XP和Windows</a></div></li>
          <li style="height:20px"><div style="float:left "><img src="root/images/question.gif"></div><div style="float:left ">&nbsp;<a href="#6" title="播放器版本低？" >播放器版本低</a></div></li>
		  <li style="height:20px"><div style="float:left "><img src="root/images/question.gif"></div><div style="float:left ">&nbsp;<a href="#9" title="播放器如何安装？使用非IE浏览器怎么能安装播放器？" >播放器如何安装？</a></div></li>
        </ul>
      </div>
    </div>
    <div class="helpleft_bottom"></div>
  </div>
 <!--- 帮助右侧 -->
<div class="helpright" id="votetitle" style="height:1850px "  >
  <div class='helpright_name'>&nbsp;&nbsp;常见问题</div>
  <div class='helpright_main' style="height:1855px ">
  	<ul class='helpright_text'>
        <li class='helpques'><a href="#" name="1">问：为什么打开网页时播放区域的显示是这样的？如图所示:</a><br>
          <img src='root/images/image001.gif'></li>
        <li class='helpanswer'>答：
          1、	这可能是由于IE的安全设置较高，请打开“工具”→“Internet选项”→“安全”→“自定义级别”调整IE设置；<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、	也可能是安装了上网助手或者其它工具，屏蔽了ActiveX控件自动下载的功能。请点击播放器下载安装ActiveX控件安<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;装程序。 </li>
      </ul>
      <ul class='helpright_text'>
        <li class='helpques'><a href="#" name="2">问：接收直播和点播时候，播放器一直是缓冲状态，如何解决？</a></li>
        <li class='helpanswer'>答：
          1、	有可能是接收端缺少对应的音视频解码器，请安装暴风影音；<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、	有可能是带宽没有达到流畅播放的最低值；<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、	用Ping命令查看跟服务器之间的网络是否存在问题。 </li>
      </ul>
      <ul class='helpright_text'>
        <li class='helpques'><a href="#" name="3">问：观看节目时，画面有抖动情况，而且CPU一直在90％以上是什么原因？</a></li>
        <li class='helpanswer'>答：
          1、	请更新显卡驱动到最新；<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、	用dxdiag命令查看directx版本，如果低于8.1请更新到9.0c；<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、	可以换台高配置的PC试试看，如果没有问题，有条件的话请升级硬件。<br>
        </li>
      </ul>
      <ul class='helpright_text'>
        <li class='helpques'><a href="#" name="4">问：怎么全屏观看？</a></li>
        <li class='helpanswer'>答：在播放器上双击鼠标左键即可全屏观看。 </li>
      </ul>
    <ul class='helpright_text'>
      <li class='helpques'><a href="#" name="5">问：Windows XP和Windows 2003系统在全屏接收直播时播放器无响应了，如何解决？</a></li>
      <li class='helpanswer'>答：1、在系统显示属性—>高级－>疑难解答，把硬件加速调整到全如下图：<br>
        <img src='root/images/image002.jpg'><br>
        	保存设置后刷新网页。如果还存在问题，点击'开始'－>'运行'，输入dxdiag，打开DirectX诊断工具，切换到'显示'，如下图：<br>
        <img src='root/images/image003.jpg'><br>
        检查DirectX功能里DirectDraw、Direct3D和AGP纹理加速有没有启用。 </li>
    </ul>
	<ul class='helpright_text'>
        <li class='helpques'><a href="#" name="6">问：播放器版本低？</a></li>

          <li class='helpanswer'>答：说明您使用播放器版本低，或者没有安装过播放器，需要重新下载播放器，并安装播放器后即可正常观看。 </li>
      </ul>


	  <ul class='helpright_text' >
        <li class='helpques'><a href="#" name="9">问：播放器如何安装？使用非IE浏览器怎么能安装播放器？</a></li>
		<li class='helpanswer' >
          答：1.	如果您是用其他浏览器（非IE7、IE6），请修改浏览器中Activcx控件设置。或者手动下载播放器，手动安装播放
		  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;器，安装前要关闭所有页面。<br>
		  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.	登陆网站，单击您要观看的直播频道或者点播节目。<br>
		  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.	IE弹出提示信息，需要安装Activcx控件，单击安装 弹出对话框，见下图：<br>
		  		<img src="root/images/image0051.jpg"><br><br>
		  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.	单击“安装”按钮，安装播放器，安装播放器时需要时间，请您耐心等待。<br>
		  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5.	如果您以前安装过该播放器，再安装完成后，会提示重新启动计算机，请您重新启动计算机，才能完成播放器更
		  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;新，这也是让您更好的使用本产品。<br>


		 </li>
      </ul>
  </div>
  </div>
  <!--- 帮助右侧 -->

</div>
